@font-face {
    font-family: Prime;
    src: url('../fonts/prime.otf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: Prime, "Ubuntu Mono", monospace;
}

body {
    /*background-color: #202024;*/
    background-color: #080808;
    color: white;
}

.terminal, .textbox {
    margin-top: 30px;
    background-color: #080808;
    /*border: 2px solid #6496ff;*/
    /*border-radius: 15px;*/
    color: #ccc;
}

.terminal, .textbox, .cmd {
    font-family: "Ubuntu Mono", monospace;
}

.textbox {

}

pre {
    background-color: #004a92;
    color: white;
    font-size: 16px;
    border: none;
}