@font-face {
    font-family: Prime;
    src: url('../fonts/prime.otf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: Prime;
}

body {
    /*background-color: #202024;*/
    background-color: #080808;
    color: white;
}

.terminal {
    margin-top: 40px;
    background-color: #080808;
    /*border: 2px solid #6496ff;*/
    /*border-radius: 15px;*/
    color: #ccc;
}

pre {
    background-color: #004a92;
    color: white;
    font-size: 14px;
    border: none;
}