<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lunatix</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.terminal.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center">Lunatix</h1>
      <div id="terminal" class="terminal"></div>
    </div>

    <script type="text/javascript">
      $app = {};
      $app.SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $app.DEBUG = {{ debug|tojson }};
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/lodash-2.4.1.min.js"></script>
    <script src="/static/js/jquery.mousewheel-3.1.11.min.js"></script>
    <script src="/static/js/jquery.terminal-0.8.8.min.js"></script>
    <script src="/static/js/models/user.js"></script>
    <script src="/static/js/terminal.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
